@font-face {
    font-family: Roboto;
     src: url("assets/fonts/Joan-Regular.ttf");
   }

   * {
    box-sizing: border-box;
  }

/* body {
    font-family: 'Joan', sans-serif;
    min-height: 100vh;
    margin: 0; 
    padding: 0;} */

body {
    font-family: 'Joan', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

p {color: bisque;}