@font-face {
  font-family: Joan;
  src: url("assets/fonts/Joan-Regular.ttf");
}

@font-face {
  font-family: Arial;
  src: url("assets/fonts/Arial-MT.woff");
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

ul {
  padding: 0px;
}

a {
  text-decoration: none;
  color: #6b4c3a;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

.header {
  background-color: #f8f7f2;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #473c38;
  font-size: 18px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100vw;
  min-width: 500px;
  line-height: 1.25;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 5px;
}

.main {
  padding: 10px 20px;
}

.section-profile {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.contact-info {
  line-height: 1.75;
}

p {color: black;}
